<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid">
    <nav class="navbar-expand-lg navbar-light bg-light" role="navigation">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <span class="navbar-brand align-middle">
                @Html.ActionLink(" Vote!", "Index", "Home", new {area = ""}, new {@class = "nav-link fa fa-cutlery"})
            </span>
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    @Html.ActionLink("Histórico", "Index", "Votos", new { area = "" }, new { @class = "nav-link" })
                </li>
                @if (Request.IsAuthenticated && Html.UsuarioAdministrador())
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Administração
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("Categorias", "Index", "Categorias", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Funcionários", "Index", "Funcionarios", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Modalidades", "Index", "Modalidades", new { area = "" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Restaurantes", "Index", "Restaurantes", new { area = "" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>

    <div class="container-fluid">
        @if ((ViewBag.Message != null) && (!String.IsNullOrEmpty(ViewBag.Message)))
        {
            <br />
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="fa fa-info-circle"> &nbsp; </i>
                @ViewBag.Message;
            </div>
        }

        @RenderBody()

    </div>
    <footer class="footer">
        <p class="text-muted text-right">&copy; @DateTime.Now.Year - Vote! by Vinicius Costa</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
