<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="container-fluid">
    <div class="navbar navbar-fixed-top " role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            </button>
            <div>@Html.ActionLink(" Vote!", "Index", "Home", null, new { @class = "fa fa-cutlery navbar-brand" })</div>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav text-uppercase text-bold">
                <li>
                    @Html.ActionLink("Histórico", "Index", "Votos", new { area = "" }, null)
                </li>

                @if (Request.IsAuthenticated && Html.UsuarioAdministrador())
                {
                    <li class="dropdown text-uppercase text-bold">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Administração
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Restaurantes", "Index", "Restaurantes", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Categorias", "Index", "Categorias", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Modalidades", "Index", "Modalidades", new { area = "" }, null)</li>
                            <li>@Html.ActionLink("Funcionários", "Index", "Funcionarios", new { area = "" }, null)</li>
                        </ul>
                    </li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container-fluid">
        @if ((ViewBag.Message != null) && (!String.IsNullOrEmpty(ViewBag.Message)))
        {
            <br />
            <div class="alert alert-info" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <i class="fa fa-info-circle"> &nbsp; </i>
                @ViewBag.Message;
            </div>
        }

        @RenderBody()

    </div>
    <footer class="footer">
        <p class="text-muted text-right">&copy; @DateTime.Now.Year - Vote! by Vinicius Costa</p>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
