@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Sair", "Perfil", FormMethod.Post, new { id = "logoutForm", @class = "form-inline navbar-right" }))
    {
        <ul class="navbar-nav navbar-right">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle user-name-menu" data-toggle="dropdown" title="@User.Identity.Name" id="navbarUser" aria-haspopup="true" aria-expanded="false">
                    <span class="fa fa-user fa-user-inside"></span><span class="nome-usuario">
                        <span class="fa fa-user"></span>
                        @User.Identity.Name
                    </span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navBarUser">
                    <a href="#" class="dropdown-item nav-text text-bold text-uppercase">
                        <span>@User.Identity.Name</span>
                    </a>

                    @Html.ActionLink(" Sair", "SignOut", "Account", routeValues: null, htmlAttributes: new { @class= "dropdown-item nav-link fa fa-sign-out navlink-right " })
                </div>
            </li>
        </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right" navbar-right">
        <li class="nav-item">@Html.ActionLink("Entrar", "SignIn", "Account", routeValues: null, htmlAttributes: new { @class= "nav-link navlink-right", id = "loginLink" })</li>
    </ul>
}
